In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
labs = pd.read_csv('C:/Users/apmey/OneDrive/Desktop/NHANES/labs.csv')
exam = pd.read_csv('C:/Users/apmey/OneDrive/Desktop/NHANES/examination.csv')
demo = pd.read_csv('C:/Users/apmey/OneDrive/Desktop/NHANES/demographic.csv')
diet = pd.read_csv('C:/Users/apmey/OneDrive/Desktop/NHANES/diet.csv')
ques = pd.read_csv('C:/Users/apmey/OneDrive/Desktop/NHANES/questionnaire.csv')

# Merging

In [3]:
exam.drop(['SEQN'], axis = 1, inplace=True)
demo.drop(['SEQN'], axis = 1, inplace=True)
diet.drop(['SEQN'], axis = 1, inplace=True)
ques.drop(['SEQN'], axis = 1, inplace=True)

In [4]:
df = pd.concat([labs, exam], axis=1, join='inner')
df = pd.concat([df, demo], axis=1, join='inner')
df = pd.concat([df, diet], axis=1, join='inner')
df = pd.concat([df, ques], axis=1, join='inner')

In [5]:
df.describe()

,SEQN,URXUMA,URXUMS,URXUCR.x,URXCRS,URDACT,WTSAF2YR.x,LBXAPB,LBDAPBSI,LBXSAL,...,WHD080U,WHD080L,WHD110,WHD120,WHD130,WHD140,WHQ150,WHQ030M,WHQ500,WHQ520
count,9813.000000,8052.000000,8052.000000,8052.000000,8052.000000,8052.000000,3329.000000,3145.000000,3145.000000,6553.000000,...,14.0,28.0,4036.000000,4842.000000,2667.000000,5879.000000,5800.000000,1424.000000,1424.000000,1424.000000
mean,78644.559971,41.218854,41.218854,121.072529,10702.811525,41.905695,78917.195254,85.898569,0.858986,4.282085,...,35.0,40.0,413.440287,567.920074,373.831646,315.447355,574.222069,2.586376,2.295646,1.747893
std,2938.592266,238.910226,238.910226,78.574882,6946.019595,276.261093,71088.020067,25.595258,0.255953,0.343649,...,0.0,0.0,1511.368399,1975.492188,1716.831150,1075.040013,7288.930842,0.782529,1.210905,0.707600
min,73557.000000,0.210000,0.210000,5.000000,442.000000,0.210000,0.000000,20.000000,0.200000,2.400000,...,35.0,40.0,75.000000,55.000000,50.000000,85.000000,10.000000,1.000000,1.000000,1.000000
25%,76092.000000,4.500000,4.500000,60.000000,5304.000000,5.020000,33217.405018,68.000000,0.680000,4.100000,...,35.0,40.0,140.000000,125.000000,63.000000,155.000000,25.000000,3.000000,1.000000,1.000000
50%,78643.000000,8.400000,8.400000,106.000000,9370.400000,7.780000,56397.702304,84.000000,0.840000,4.300000,...,35.0,40.0,165.000000,150.000000,66.000000,185.000000,38.000000,3.000000,2.000000,2.000000
75%,81191.000000,17.625000,17.625000,163.000000,14409.200000,15.295000,99356.561999,101.000000,1.010000,4.500000,...,35.0,40.0,198.000000,180.000000,70.000000,225.000000,53.000000,3.000000,3.000000,2.000000
max,83731.000000,9600.000000,9600.000000,659.000000,58255.600000,9000.000000,395978.465792,234.000000,2.340000,5.600000,...,35.0,40.0,9999.000000,9999.000000,9999.000000,9999.000000,99999.000000,9.000000,9.000000,9.000000

# Reformatting

Changing Income Variable

In [6]:
def map_income(value):
    if value == 1:
        return "$0-$4999"
    elif value == 2:
        return "$5000-$9999"
    elif value == 3:
        return "$10000-$14999"
    elif value == 4:
        return "$15000-$19999"
    elif value == 5:
        return "$20000-$24999"
    elif value == 6:
        return "$25000-$34999"
    elif value == 7:
        return "$35000-$44999"
    elif value == 8:
        return "$45000-$54999"
    elif value == 9:
        return "$55000-$64999"
    elif value == 10:
        return "$65000-$74999"
    elif value == 12:
        return "$20000 and over"
    elif value == 13:
        return "Under $20000"
    elif value == 14:
        return "$75000-$99999"
    elif value == 15:
        return "$100000 and over"
    else:
        return "Unknown"

# Apply the map_income function to INDHHIN2 and create a new column 'income_range'
df['family income'] = df['INDHHIN2'].apply(map_income)

In [7]:
def map_level(value):
    if value < 6 or value == 13:
        return "Less than $25000"
    elif (value >= 6 and value <= 10) or value == 12:
        return "$25000 - $74999"
    elif value == 14 or value == 15:
        return "More than $75000"

df['Income Level'] = df['INDHHIN2'].apply(map_level)

In [8]:
# weight and height

In [9]:
df['Weight'] = df['BMXWT']
df['Height']= df['BMXHT']
df['Protein intake'] = df['DR1TPROT']
df['Carbs intake'] = df['DR1TCARB']
df['Fats intake'] = df['DR1TTFAT']
df['# Children 5 & under'] = df['DMDHHSZA']
df['Family Size'] = df['DMDFMSIZ']
df['Household Size'] = df['DMDHHSIZ']
df['# Children 6-17'] = df['DMDHHSZB']
df['Total Cholesterol'] = df['LBXTC']
df['Insulin'] = df['LBXIN']
df['Marital Status'] = df['DMDMARTL']
df['Calories intake'] = df['DR1TKCAL']
df['Age'] = df['RIDAGEYR']
df['Sugar intake'] = df['DR1TSUGR']

In [10]:
def map_gender(value):
    if value == 1:
        return "Male"
    elif value == 2:
        return "Female"
    else:
        return "Unknown"
df['Gender'] = df['RIAGENDR'].apply(map_gender)

In [11]:
def map_race(value):
    if value == 1:
        return "Mexican American"
    elif value == 2:
        return "Histpanic"
    elif value == 3:
        return "White"
    elif value == 4:
        return "Black"
    elif value == 5:
        return "Asain"
    elif value == 6:
        return "Multi-race"
    else:
        return "Unknown"
df["Race"]=df['RIDRETH3'].apply(map_race)

In [12]:
def map_hearing(value):
    if value == 1:
        return "Yes"
    elif value == 2:
        return "No"
    else:
        return "Unknown"
df['Difficulty Hearing'] = df['DLQ010'].apply(map_hearing)

In [13]:
def map_seeing(value):
    if value == 1:
        return "Yes"
    elif value == 2:
        return "No"
    else:
        return "Unknown"
df['Difficulty Seeing'] = df['DLQ020'].apply(map_seeing)

In [14]:
def map_concentrating(value):
    if value == 1:
        return "Yes"
    elif value == 2:
        return "No"
    else:
        return "Unknown"
df['Difficulty Concentrating'] = df['DLQ040'].apply(map_concentrating)

Health

In [15]:
def map_health(value):
    if value == 1:
        return "Excellent"
    elif value == 2:
        return "Very Good"
    elif value == 3:
        return "Good"
    elif value == 4:
        return "Fair"
    elif value == 5:
        return "Poor"
    else:
        return "Unknown"
df['Health Status'] = df['HSD010'].apply(map_health)

In [16]:
def map_Cold(value):
    if value == 1:
        return "Yes"
    elif value == 2:
        return "No"
    else:
        return "Unknown"
df['Cold'] = df['HSQ500'].apply(map_Cold)

In [17]:
def map_stomach_illness(value):
    if value == 1:
        return "Yes"
    elif value == 2:
        return "No"
    else:
        return "Unknown"
df['Stomach Illness'] = df['HSQ510'].apply(map_stomach_illness)

In [18]:
def map_flu(value):
    if value == 1:
        return "Yes"
    elif value == 2:
        return "No"
    else:
        return "Unknown"
df['Flu'] = df['HSQ520'].apply(map_flu)

In [19]:
def map_health_insurance(value):
    if value == 1:
        return "Yes"
    elif value == 2:
        return "No"
    else:
        return "Unknown"
df['Health Insured'] = df['HIQ011'].apply(map_health_insurance)

In [20]:
def map_private_insur(value):
    if value == 14:
        return "Yes"
    else:
        return "Unknown"
df['Private Insured'] = df['HIQ031A'].apply(map_private_insur)

In [21]:
def map_medicaid(value):
    if value == 17:
        return "Yes"
    else:
        return "Unknown"
df['Medicaid'] = df['HIQ031D'].apply(map_medicaid)

In [22]:
def map_covered_prescription(value):
    if value == 1:
        return "Yes"
    elif value == 2:
        return "No"
    else:
        return "Unknown"
df['Covered Prescriptions'] = df['HIQ270'].apply(map_covered_prescription)

In [23]:
def map_physically(value):
    if value == 0:
        return "0 days"
    elif value == 1:
        return "1 day"
    elif value == 2:
        return "2 days"
    elif value == 3:
        return "3 days"
    elif value == 4:
        return "4 days"
    elif value == 5:
        return "5 days"
    elif value == 6:
        return "6 days"
    elif value == 7:
        return "7 days"
    else:
        return "Unknown"
df['Physically Active 60 mins'] = df['PAQ706'].apply(map_physically)

In [24]:
def map_TV(value):
    if value == 0:
        return "Less than 1"
    elif value == 1:
        return "1"
    elif value == 2:
        return "2"
    elif value == 3:
        return "3"
    elif value == 4:
        return "4"
    elif value == 5:
        return "5 or more"
    elif value == 8:
        return "Does not watch TV"
    else:
        return "Unknown"
df['TV Hours'] = df['PAQ710'].apply(map_TV)

In [25]:
df['ID'] = df['SEQN']
df['Blood Pressure'] = df['BPXCHR']
df['Pulse'] = df['BPXPLS']

In [26]:
vars = ['ID','family income','Weight','Height','Protein intake','Carbs intake','Fats intake','# Children 5 & under','Family Size','Household Size','# Children 6-17',
        'Total Cholesterol','Insulin','Marital Status','Calories intake','Age', 'Race','Sugar intake',
       'Gender','Difficulty Hearing','Difficulty Seeing','Difficulty Concentrating',
        'Health Status','Cold','Stomach Illness','Flu','Health Insured','Private Insured',
       'Medicaid','Covered Prescriptions','Physically Active 60 mins','TV Hours','Income Level']

In [27]:
df = df[vars]

In [28]:
for col in df.columns:
    print(col, df[col].dtype)

ID int64
family income object
Weight float64
Height float64
Protein intake float64
Carbs intake float64
Fats intake float64
# Children 5 & under int64
Family Size int64
Household Size int64
# Children 6-17 int64
Total Cholesterol float64
Insulin float64
Marital Status float64
Calories intake float64
Age int64
Race object
Sugar intake float64
Gender object
Difficulty Hearing object
Difficulty Seeing object
Difficulty Concentrating object
Health Status object
Cold object
Stomach Illness object
Flu object
Health Insured object
Private Insured object
Medicaid object
Covered Prescriptions object
Physically Active 60 mins object
TV Hours object
Income Level object

In [29]:
nan_count = df.isna().sum()
print(nan_count )

ID                              0
family income                   0
Weight                         90
Height                        746
Protein intake               1282
Carbs intake                 1282
Fats intake                  1282
# Children 5 & under            0
Family Size                     0
Household Size                  0
# Children 6-17                 0
Total Cholesterol            2189
Insulin                      6720
Marital Status               4252
Calories intake              1282
Age                             0
Race                            0
Sugar intake                 1282
Gender                          0
Difficulty Hearing              0
Difficulty Seeing               0
Difficulty Concentrating        0
Health Status                   0
Cold                            0
Stomach Illness                 0
Flu                             0
Health Insured                  0
Private Insured                 0
Medicaid                        0
Covered Prescriptions           0
Physically Active 60 mins       0
TV Hours                        0
Income Level                  443
dtype: int64

In [30]:
df.shape

(9813, 33)

In [31]:
df.head()

,ID,family income,Weight,Height,Protein intake,Carbs intake,Fats intake,# Children 5 & under,Family Size,Household Size,...,Cold,Stomach Illness,Flu,Health Insured,Private Insured,Medicaid,Covered Prescriptions,Physically Active 60 mins,TV Hours,Income Level
0,73557,$15000-$19999,78.3,171.3,43.63,239.59,52.81,0,3,3,...,No,No,No,Yes,Unknown,Yes,Yes,Unknown,2,Less than $25000
1,73558,$35000-$44999,89.5,176.8,338.13,423.78,124.29,0,4,4,...,No,No,No,No,Unknown,Unknown,Unknown,Unknown,4,$25000 - $74999
2,73559,$65000-$74999,88.9,175.3,64.61,224.39,65.97,0,2,2,...,No,No,No,Yes,Yes,Unknown,Yes,Unknown,4,$25000 - $74999
3,73560,$55000-$64999,32.2,137.3,77.75,162.92,58.27,0,4,4,...,No,No,No,Yes,Yes,Unknown,Yes,5 days,3,$25000 - $74999
4,73561,$100000 and over,52.0,162.4,55.24,178.20,55.36,0,2,2,...,No,No,No,Yes,Yes,Unknown,Yes,Unknown,1,More than $75000

In [32]:
df.to_csv('NHANES.csv', index = False)